@(user: models.User, products: List[models.Product])

@main("Conekta Showcase- Products", Some(user)) {

<div class="user col-md-6 col-md-offset-3">
  <div class="row">

    <table class="display table table-striped table-bordered" id="product">
     <thead>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Description</th>
         <th>Price</th>
         <th>Detalles</th>
       </tr>
     </thead>
     <tbody>

      @products.map { 
        case (product) => {
          <tr>
            <td>@product.id</td>
            <td>@product.name</td>
            <td>@product.description</td>
            <td>@product.price</td>
            <td><a href="@routes.ProductsController.show(product.id.get)">Ver</a></td> 
          </tr>
        }
      }

     </tbody>
   </table>

 </div>

 <a class="btn btn-info" href="@routes.ProductsController.add">Add Product</a>

</div>
}
