@(user: models.User)(implicit flash:Flash)

@main("Conekta Showcase - Home", Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">Hola @user.fullName.getOrElse("")!</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" style="height:40px;" />
            </div>
            <hr class="col-md-12" />
        </div>

				@user.currentSubscription match {
			    	case Some(subscription) => {
			    	
			    	<div class="panel panel-info">
  						<div class="panel-heading">Suscripción Activa</div>
  						<div class="panel-body">
    						<div class="row data">
            				<div class="col-md-12">
                				<div class="row">
                    				<p class="col-md-6"><strong>Estado:</strong></p><p class="col-md-6">@subscription.statusDescription</p>
              	  			</div>
												<div class="row">
                    				<p class="col-md-6"><strong>Fecha de inicio:</strong></p><p class="col-md-6">@subscription.startBillingDate</p>
              	  			</div>
												<div class="row">
                    				<p class="col-md-6"><strong>Fecha de próximo cargo:</strong></p><p class="col-md-6">@subscription.nextBillingDate.getOrElse("")</p>
              	  			</div>
											</div>
        					</div>
  						</div>
						</div>
			    	 
						}
						
						case None => {}
				}

    </div>
}
