@(user: models.User, plans: List[com.conekta.Plan])(implicit flash:Flash)

@import helper._

@main("Conekta Showcase- Plans", Some(user)) {

<div class="user col-md-6 col-md-offset-3">
  <div class="row">

    <table class="display table table-striped table-bordered" id="product">
     <thead>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Interval</th>
         <th>Price</th>
				 <th>Eliminar</th>
       </tr>
     </thead>
     <tbody>

      @plans.map { 
        case (plan) => {
          <tr>
            <td>@plan.id</td>
            <td>@plan.name</td>
            <td>@plan.interval</td>
            <td>@plan.amount @plan.currency</td>
						<td>
							@form(routes.PlansController.subscribe(plan.id)) {        
	    					<input type="submit" class="btn btn-danger" value="Suscribir" />      
  						}
						</td>
						<td>
							@form(routes.PlansController.delete(plan.id)) {        
	    					<input type="submit" class="btn btn-danger" value="Eliminar" />      
  						}
						</td>
          </tr>
        }
      }

     </tbody>
   </table>

 </div>

 <a class="btn btn-info" href="@routes.PlansController.add">Add Plan</a>

</div>
}
